<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YakFishman-Lab4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16374B19217A7D400076F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16374B2D217A7D420076F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16374B38217A7D420076F01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
